<!DOCTYPE html>
<html>
<head>
    <title>Agenda Informes API</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            padding: 0;
        }   
    </style>
</head>
<body>

    <redoc spec-url='/v1/swagger.json' suppress-warnings></redoc>

    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"></script>

    @*<footer>
    <link href="~/eventscheduler/css/Site.css" rel="stylesheet" />
    </footer>*@
</body>

</html>

<style>
</style>